html, body{
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.index-bg{
    background: url(bacp.jpg) repeat top left/150px 187px;
    animation: slide 30s linear infinite;
}
@keyframes slide {
    from {
        background-position: 0 0
    }

    to {
        background-position: -800px 800px
    }
}
.container{
  width: 1440px;
  background: rgb(21, 21, 21);
  position: relative;
  margin: auto;

}
.header{
  margin: auto;
}
.header img{
  width: 1440px;
  filter: blur(3px);
}
.header div{
  position	: absolute;
  top		: 100px;
  width: 730px;
  height: 170px;
  background: rgba(255, 255, 255, 0.5);
}
.header h1{
	position	: absolute;
  font-size: 100px;
	top		: 10px;
	left		: 20px;
	width		: 100%;
}
.header h2{
	position	: absolute;
	top		: 160px;
  font-size: 50px;
	left		: 50px;
	width		: 100%;
}

.top-content{
  padding: 30px 0 0;
  text-align: center;
}

.div_content{
  display: inline-block;
  margin: 3px;
  padding: 3px 0 0;
  height: 350px;
  width: 350px;
  background: rgb(32, 32, 32);
  text-align: center;
  overflow:hidden;
}
.div_content img{
  max-width: 350px;
  max-height: 350px;
}

.div_content span{
      background-color:rgba(0, 0, 0, 0.4);
      top:-100px;
      transition-duration:0.6s;
      padding:10px 0;
      position:absolute;
      text-align:center;
      color:#fff;
      font-size:12px;
      font-weight:bold;
      line-height:16px;
      margin:0;
      display:block;
      width:100%;
}

div.div_content:hover span{
    top:0;
}

.box-crew{
  height:100%;
  width:100%;
  position:relative;
  overflow:hidden;
}

.box-crew span{
background-color:rgba(0, 0, 0, 0.4);
top:-100px;
transition-duration:0.6s;
padding:10px 0;
position:absolute;
text-align:center;
color:#fff;
font-size:12px;
font-weight:bold;
line-height:16px;
margin:0;
display:block;
width:100%;
}

div.box-crew:hover span{
top:0;
}
.image{
width: 100%;
height: 100%;
background-position: center center;
  background-size: cover;
background-repeat: none;
}
hr{
   border:1px solid white;
   width: 1200px;
}
.middle{
  padding: 20px;
  width: 1200px;
  margin: auto;
}
.middle h1{
  text-align: center;
  color: white;
}
.middle h3{
  text-align: center;
  color: white;
}
.middle img{
  max-width: 750px;
}
.footer{
  padding: 20px;
  height: 50px;
  margin-top: 20px;
}
section{
  width: 100%;
  height: 300vh;
  background-size: cover;
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
ul{
  display: flex;
  position: absolute;
  left:50%;

  transform: translate(-50%, -50%);
}
ul li{
  list-style: none;
}
ul li a{
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
ul li a .fab{
  position: relative;
  color: #262626;
  transition: .5s;
}
ul li a:hover .fab{
  color: #fff;
  transform: rotateY(360deg);
}
ul li a:before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}
ul li a:hover:before{
  top: 0;
}
ul li:nth-child(1) a:before{
  background: #4c75a3;
}
ul li:nth-child(2) a:before{
  background: #e4405f;
}
.footer h1{
  font-size: 30px;
  color: white;
}
